{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="container-fluid principal-container menus bg-brown">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center menu-img-mob only-mobile">
                <img src="{% static 'img/img-menu-mob.png' %}" alt="">
            </div>
            <div class="col-3 d-flex justify-content-center only-desktop">
                <img src="{% static 'img/menu-sticker.png' %}" class="w-100 img-menu-banner" alt="">
            </div>
            <div class="col-12 col-sm-9 container-menus-link">
                <div class="row justify-content-evenly">
                    {% for menu in menus %}
                        <div class="container-food col-5 col-md-4 col-lg-3 {% if menu.subtitle %}with-subtitle{% endif %}">
                            <img src="{{menu.image.url}}" class="image-food w-100" alt="">
                            <a href="{% url 'menu' menu_name=menu.name%}">
                                <div class="title-food">
                                    {% if menu.subtitle and menu.subtitle == 'Carnitas' %}
                                        <p class="gobold subtitle-menu mb-0">Nuestras</p>
                                    {% endif %}
                                    <p class="gobold mb-0 menu_name">{{menu.name}}</p>  
                                    {% if menu.subtitle %}
                                        <p class="gobold subtitle-menu mb-0">{{menu.subtitle}}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}