{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="container-fluid principal-container bg-brown">
        <div class="row">
            <div class="col-3 d-flex justify-content-center">
                <img src="{% static 'img/menu-sticker.png' %}" class="w-100 img-menu-banner" alt="">
            </div>
            <div class="col-9 d-flex justify-content-md-evenly flex-wrap container-menus-link">
                {% for menu in menus %}
                    <div class="container-food {% if menu.subtitle %}with-subtitle{% endif %}">
                        <img src="{{menu.image.url}}" class="image-food w-100" alt="">
                        <a href="{% url 'menu' menu_name=menu.name%}">
                            <div class="title-food">
                                {% if menu.subtitle and menu.subtitle == 'Carnitas' %}
                                    <p class="gobold subtitle-menu mb-0">Nuestras</p>
                                {% endif %}
                                <p class="gobold mb-0 menu_name">{{menu.name}}</p>  
                                {% if menu.subtitle %}
                                    <p class="gobold subtitle-menu mb-0">{{menu.subtitle}}</p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}