<!DOCTYPE html>
<html lang="es-MX">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnitas El periban</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="description" content="Página del restraurante el periban">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/global.js' %}"></script>  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCAt2eohgh9IlCEswyXWY4EhNAn-o95LBA&libraries=places"></script>
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '507118590934687');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=507118590934687&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->
    {% block javascript %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="container-fluid p-0 bg-black position-fixed navbar">
        <div class="pt-3 pb-1 w-100 h-100 icons-desktop-navbar">
            <div class="row w-100 h-100">
                <div class="d-flex justify-content-md-around align-items-center col-5 h-100">
                    <a href="/#tradicion" class="gobold gold mb-0 link-nav link-home-scroll">UNA TRADICIÓN</a>
                    <div class="dropdown">
                        <button class="btn gobold gold dropdown-toggle" type="button" id="dropdownMenus" data-bs-toggle="dropdown" aria-expanded="false">
                          Menús
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenus">
                            <li><a class="dropdown-item gobold gold" href="{% url 'menus' %}">Restaurantes</a></li>
                            <li><a class="dropdown-item gobold gold" href="{% static 'pdf/carta_taquerias.pdf' %}" target="_blank">
                                Taquerías
                            </a></li>
                        </ul>
                    </div>
                    <a href="/#branches" class="gobold gold mb-0 link-nav link-home-scroll">SUCURSALES</a>
                </div>
                <div class="col-2 h-100">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/periban-logo.png' %}" class="img-fluid h-100" alt="...">
                    </a>
                </div>
                <div class="d-flex justify-content-md-around align-items-center col-5 h-100">
                    <a href="{% url 'shipment' %}" class="gobold gold mb-0 link-nav">SERVICIO A</br>DOMICILIO</a>
                    <a href="{% url 'events' %}" class="gobold gold mb-0 link-nav">EVENTOS</a>
                    <a href="{% url 'medios' %}" class="gobold gold mb-0 link-nav">MEDIOS</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="gobold gold mb-0 link-nav">LOG OUT</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="ic-mob-menu" class="icon-mobile-navbar">
            <img class="menu-btn-mobile h-100" src="{% static 'img/hamburguer-button.png' %}" alt="hamburguer-button">
        </div>
        <div class="logo-nav-mobile">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/periban-logo.png' %}" class="img-fluid h-100" alt="...">
            </a>
        </div>
    </div>
    <div id="mobile-navbar" class="mobile-navbar bg-black">
        <div id="icon-close-container" class="icon-close-container">
            <img src="{% static 'img/icon-close.png' %}" alt="icon-close">
        </div>
        <a href="/#tradicion" class="gobold gold mb-0 link-nav link-home-scroll">UNA TRADICIÓN</a>
        <div class="dropdown">
            <button class="btn gobold gold dropdown-toggle" type="button" id="dropdownMenus" data-bs-toggle="dropdown" aria-expanded="false">
                Menús
            </button>
            <ul class="dropdown-menu bg-black" aria-labelledby="dropdownMenus">
                <li><a class="dropdown-item gobold gold" href="{% url 'menus' %}">Restaurantes</a></li>
                <li><a class="dropdown-item gobold gold" href="{% static 'pdf/carta_taquerias.pdf' %}" target="_blank">
                    Taquerías
                </a></li>
            </ul>
        </div>
        <a href="/#branches" class="gobold gold mb-0 link-nav link-home-scroll">SUCURSALES</a>
        <a href="{% url 'shipment' %}" class="gobold gold mb-0 link-nav">SERVICIO A DOMICILIO</a>
        <a href="{% url 'events' %}" class="gobold gold mb-0 link-nav">EVENTOS</a>
        <a href="{% url 'medios' %}" class="gobold gold mb-0 link-nav">MEDIOS</a>
    </div>
    <div class="container-fluid p-0">
        {% block container%}
        {% endblock %}
    </div>
    <img src="{% static 'img/chat.png' %}" id="pig-chat" class="position-fixed pig-chat" alt="">
    <div class="container-fluid footer">
        <div class="social-media">
            <div class="link d-flex justify-content-center algn-align-items-center">
                <img src="{% static 'img/icon-ig.png' %}" alt="icon-ig">
                <a href="https://instagram.com/elperiban?utm_medium=copy_link" class="goboldItalic">/ELPERIBAN.COM</a>
            </div>
            <div class="link">
                <img src="{% static 'img/icon-fb.png' %}" alt="icon-ig">
                <a href="https://www.facebook.com/elperiban" blank="blank"  class="goboldItalic">/ELPERIBAN.COM</a>
            </div>
        </div>
        <img class="logo-footer" src="{% static 'img/logo-footer.png' %}" alt="logo-periban">
        <div class="links-footer">
            <div class="d-flex justify-content-center align-items-center">
                <a class="gobold" href="{% url 'invoices' %}">FACTURACIÓN</a>
                <a class="gobold" href="{% url 'employees' %}">BOLSA DE TRABAJO</a>
            </div>
            <a class="gobold" href="{% url 'privacy' %}">AVISO DE PRIVACIDAD</a>
            <a class="gobold" href="{% url 'form_list' %}">STAFF</a>
        </div>
    </div>
    <script src="//code.tidio.co/p8i8de4i3jghei03xgvfjy6ucnwvnk8h.js" async></script>
</body>
</html>