{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="container-fluid principal-container p-0 shipment-branches d-flex flex-column align-items-center">
        <div class="container-title-branches">
            <img class="arm-pig" src="{% static 'img/arm_pig.png' %}" alt="">
            <div class="title-branches">
                <p class="disp-font yellow">Realiza tu pedido</p>
            </div>
        </div>
        <div class="container-addresses gobold">
            <div>
                <p class="type-branch">Restaurantes</p>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">AJUSCO</p>
                        <p>Halacho esq. KinchilH. de Padierna,Tlalpan, CDMX</p>
                        <p>ajusco@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/5587913477" target="_blank" class="brown2 mb-0">55 8791 3477</a>
                        </div>
                        <a href="tel:5556315062" class="brown2 mb-0 mt-1">Suc: 55 5631 5062</a>
                    </div>
                </div>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">AZTECAS</p>
                        <p>Av. Aztecas 762, Ajusco Coyoacán, cdmx</p>
                        <p>aztecas@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/525536523218" target="_blank" class="brown2 mb-0">55 3652 3218</a>
                        </div>
                        <a href="tel:5515170679" class="brown2 mb-0 mt-1">Suc: 55 1517 0679</a>
                    </div>
                </div>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">MARINA</p>
                        <p>Marina Nac. 240, Anáhuac, Miguel Hidalgo, cdmx</p>
                        <p>marina@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/525536523714" target="_blank" class="brown2 mb-0">55 3652 3714</a>
                        </div>
                        <a href="tel:55 6394 2221" class="brown2 mb-0 mt-1">Suc: 55 6394 2221</a>
                    </div>
                </div>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">ROMA</p>
                        <p>Campeche 171, Col. Roma Sur cdmx</p>
                        <p>roma@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/525562184176" target="_blank" class="brown2 mb-0">55 6218 4176</a>
                        </div>
                        <a href="tel:5552076146" class="brown2 mb-0 mt-1">Suc: 55 5207 6146</a>
                    </div>
                </div>
            </div>
            <div>
                <p class="type-branch mt-4">TAQUERÍAS</p>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">COAPA</p>
                        <p>
                            Av. Prolongación División del Norte 4496 
                            Prado Coapa, Tlalpan, CDMX</p>
                        <p>coapa@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/525535569825" target="_blank" class="brown2 mb-0">55 3556 9825</a>
                        </div>
                        <a href="tel:5572590035" class="brown2 mb-0 mt-1">Suc: 55 7259 0035</a>
                    </div>
                </div>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">Cafetales</p>
                        <p>V. de la Armada 1405 Col. Residencial Cafetales
                            del Coyoacán, CDMX</p>
                        <p>cafetales@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/525535594524" target="_blank" class="brown2 mb-0">55 3559 4524</a>
                        </div>
                        <a href="tel:5526520576" class="brown2 mb-0 mt-1">Suc: 55 2652 0576</a>
                    </div>
                </div>
                <div class="branch d-flex justify-content-between">
                    <div class="branch-address">
                        <p class="brown2">Ayuntamiento</p>
                        <p>Ayuntamiento 87 Local D, Barrio la Lonja, Tlalpan, CDMX</p>
                        <p>ayuntamiento@elperiban.com</p>
                    </div>
                    <div class="wa-tel">
                        <div>
                            <img src="{% static 'img/whats_logo.png' %}" alt="">
                            <a href="https://wa.me/525536523050" target="_blank" class="brown2 mb-0">55 3652 3050</a>
                        </div>
                        <a href="tel:5571553607" class="brown2 mb-0 mt-1">Suc: 55 7155 3607</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}