{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="container-fluid principal-container p-0 d-flex flex-column align-items-center">
        <div class="title-employees">
            <h1 class="title-middle goboldItalic">¡ TE ESTAMOS BUSCANDO !</h1>
        </div>
        <div class="container-global-employees">
            <div class="employees-form-container">
                <div class="title-form-employees">
                    <h1 class="gobold yellow">SE PARTE DE NUESTRO</h1>
                    <h1 class="gobold yellow">equipo</h1>
                </div>
                <div class="form-employees">
                    <form method="post" action="{% url 'employees' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-container">
                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                <input type="text" name="nameEmployee" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
                            </div>
                            <div class="input-container">
                                <label for="exampleInputEmail1" class="form-label">Apellidos</label>
                                <input type="text" name="lastNameEmployee" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-container">
                                <label for="exampleInputEmail1" class="form-label">Teléfono</label>
                                <input type="tel" name="phoneEmployee" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
                            </div>
                            <div class="input-container">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" name="emailEmployee" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
                            </div>
                        </div>
                        <div class="input-group mb-3 d-flex">
                            <div class="input-container w-100">
                                <span class="form-label">CUÉNTANOS ¿EN QUE ESTÁS INTERESADO? </span>
                                <textarea class="form-control" name="employeeText" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn send-form-event">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="img-pig-eyes">
                <object data="{% static 'svg/pig-eyes.svg'%}" type="image/svg+xml">
                    <img src="{% static 'svg/pig-eyes.svg'%}" />
                </object>
            </div>
        </div>
    </div>
{% endblock %}