{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="container-fluid principal-container p-0 d-flex justify-content-center align-items-start">
            <div class="forms-container w-100">
                <div class="title-privacity">
                    <h1 class="gobold">Formularios Operación</h1>
                </div>
                <div class="w-100">
                    {% if forms %}
                    <ul>
                        {% for form in forms %}
                            <a class="item-form-list gobold" href="{% url 'form' form=form.form_id %}">
                                <li>{{form.form_name}}</li>
                            </a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if forms_answers and user.is_staff%}
                        <div class="answers_container mt-4">
                            <h1 class="gobold">Registros cuestionarios</h1>
                            <ul>
                                {% for form_ans in forms_answers %}
                                    <a class="item-form-list gobold" href="{% url 'form_answers' form=form_ans.form_type__form_id %}">
                                        <li>{{form_ans.created}} - {{form_ans.form_type__form_name}}</li>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if answers %}
                        <a href="{% url 'form_list' %}"class="gobold btn-back"><- Regresar</a>
                        <div class="info-form">
                            <p class="gobold" style="color: #BF520D;">Fecha: {{date}}</p>
                            <p class="gobold" style="color: #BF520D;">Área: {{form_type}}</p>
                            <p class="gobold" style="color: #BF520D;">Aplicado: {{applied}}</p>
                        </div>
                        <ul class="mt-4 list-answers">
                            {% for answer in answers %}
                                {% if answer.question_id.question_description != 'location' %}
                                    <li>
                                        <div>
                                            <p><strong>{{answer.question_id.question_description}}</strong></p>
                                            <p style="margin-left:1rem;">{{answer.answer}}</p>
                                        </div>
                                    </li>
                                {% else %}
                                    <p><strong>{{answer.question_id.question_description}}</strong></p>
                                    <div id="mapEvidence" class="map-evidence" meta="{{answer.answer}}"></div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="gobold">Evidencia</p>
                        <img src="{{ evidence.image_evidence.url }}" alt="">
                    {% endif %}
                    {% if questions %}
                        <div id="form-staff" class="form-staff">
                            <form method="post" action="{% url 'form' form=form.form_id%}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for question in questions %}
                                    {% if question.is_options %}
                                    <fieldset class="row mb-3 element-form options-input">
                                        <legend class="col-form-label col-sm-2 pt-0">{{question.label}}</legend>
                                        <div class="col-sm-10">
                                        {% for index, option in question.options.items %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="{{question.id}}" id="gridRadios{{index}}" value="{{option}}">
                                                <label class="form-check-label" for="gridRadios{{index}}">
                                                    {{option}}
                                                </label>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </fieldset>
                                    {% elif question.is_check %}
                                    <fieldset class="row mb-3 element-form options-input">
                                        <legend class="col-form-label col-sm-2 pt-0">{{question.label}}</legend>
                                        <div class="col-sm-10">
                                        {% for index, option in question.options.items %}
                                            <div class="form-check">
                                                <input class="form-check-input" name="{{question.id}}-{{index}}" type="checkbox" value="{{option}}" id="flexCheck{{index}}">
                                                <label class="form-check-label" for="flexCheck{{index}}">
                                                    {{option}}
                                                </label>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </fieldset>
                                    {% else %}
                                        {%if question.label == 'location' %}
                                            <input type="text" name="{{question.id}}" class="form-control visually-hidden" id="inputLocation" aria-describedby="evidence" required="true">
                                        {% else %}
                                            <div class="input-container element-form">
                                                <label for="exampleInputEmail1" class="form-label">{{question.label}}</label>
                                                <input type="text" name="{{question.id}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {{image_form}}
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <button id="submit-form-staff" type="submit" class="btn send-form-event">Enviar</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}
