{% extends "base.html" %}
{% load static %}
{% block container %}
    <!-- Slider -->
    <div class="container-fluid p-0 container-slider">
        <div id="sliderHome" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
              <div class="carousel-item active h-100 position-relative">
                <img src="{% static 'img/fondo-slider.png' %}" class="d-block w-100 h-100" alt="...">
                <img src="{% static 'img/platon.png' %}" class="d-block position-absolute platon-img" class="platon-img" alt="">
              </div>
              <div class="carousel-item h-100 position-relative">
                <img src="{% static 'img/banner_apertura.png' %}" class="d-block w-100 h-100" alt="...">
              </div>
              <!-- <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#sliderHome" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#sliderHome" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Tradicion -->
    <div id="tradicion" class="container-fluid p-0 d-flex flex-column align-items-center mt-5">
        <h1 class="gobold center title-big">UNA TRADICIÓN</h1>
        <img src="{% static 'img/years_title.png' %}" class="tradition-title" alt="title_years">
        <div class="video-trad-container d-flex justify-content-center mt-3">
            <video class="video-tradition" autoplay="autoplay" muted controls>
                <source src="{% static 'videos/periban_video.mp4' %}" type=video/mp4>    
            </video>
        </div>
        <div class="container-trad-text">
        <p class="gobold text-center brown w-70 mt-4">Todas las familias que hoy formamos parte de este sueño, te damos las gracias por  ser</br>parte de nuestra historia.</p>
        <p class="gobold text-center mt-3">La historia del Peribán se remonta a 1982 cuando nuestra familia fundadora comenzó este sueño, con solo 5 integrantes y la receta familiar respaldada por familiares y amigos que dieron fe del sabor y la calidad de nuestras carnitas estilo Michoacán, así, la receta viajó de Periban de Ramos Michoacán a la CDMX para entregar a los clientes el sabor y la calidez propias de nuestro origen.
            </br>
            </br>
            Hoy, gracias a tu preferencia, El Periban es ya una empresa orgullosamente mexicana, orgullosamente Peribana, que, se entrega con pasión a su razón de ser: que vivas nuestra experiencia de sabor y calidez con familia y amigos que hacen del Peribán un pedacito de Michoacán dentro de la Ciudad.</p>
        </div>
    </div>
    <div id="branches" class="container-fluid p-0">
      <img src="{% static 'img/logo-quality.png' %}" class="logo-quality" alt="logo-quality">
      <div class="branches-home-title">
        <h1 class="gobold title-big">SUCURSALES</h1>
      </div>
      <!-- <div> -->
        <div id="sliderBranches" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
              <div class="carousel-item active h-100 position-relative">
                <img src="{% static 'img/sucursales/suc_ajusco1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_ajusco2.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_aztecas1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_aztecas2.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_cafetales1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_cafetales2.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/ayuntamiento1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/ayuntamiento2.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_marina1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_marina2.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_coapa1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_coapa2.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_roma1.png' %}" class="d-block h-100" alt="...">
              </div>
              <div class="carousel-item h-100">
                <img src="{% static 'img/sucursales/suc_roma2.png' %}" class="d-block h-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#sliderBranches" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#sliderBranches" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      <!-- </div> -->
      <div class="container-branches gobold">
        <p class="type-branch">Restaurantes</p>
        <div class="restaurant-branches">
            <div class="branch">
                <div class="branch-address">
                    <p class="brown2 branch-name">AJUSCO</p>
                    <p>Halacho esq. KinchilH. de Padierna,Tlalpan, CDMX</p>
                    <p>ajusco@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525587913477" target="_blank" class="brown2 mb-0">55 8791 3477</a>
                </div>
                <a href="tel:5556315062" class="brown2 mb-0 mt-1">Suc: 55 5631 5062</a>
            </div>
            <div class="branch ">
                <div class="branch-address">
                    <p class="brown2 branch-name">AZTECAS</p>
                    <p>Av. Aztecas 762, Ajusco Coyoacán, cdmx</p>
                    <p>aztecas@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525536523218" target="_blank" class="brown2 mb-0">55 3652 3218</a>
                </div>
                <a href="tel:5515170679" class="brown2 mb-0 mt-1">Suc: 55 1517 0679</a>
            </div>
            <div class="branch">
                <div class="branch-address">
                    <p class="brown2 branch-name">MARINA</p>
                    <p>Marina Nac. 240, Anáhuac, Miguel Hidalgo, cdmx</p>
                    <p>marina@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525536523714" target="_blank" class="brown2 mb-0">55 3652 3714</a>
                </div>
                <a href="tel:55 6394 2221" class="brown2 mb-0 mt-1">Suc: 55 6394 2221</a>
            </div>
            <div class="branch">
                <div class="branch-address">
                    <p class="brown2 branch-name">ROMA</p>
                    <p>Campeche 171, Col. Roma Sur cdmx</p>
                    <p>roma@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525633321629" target="_blank" class="brown2 mb-0">56 3332 1629</a>
                </div>
                <a href="tel:5552076146" class="brown2 mb-0 mt-1">Suc: 55 5207 6146</a>
            </div>
        </div>
        <p class="type-branch mt-4">TAQUERÍAS</p>
        <div class="restaurant-branches">
            <div class="branch">
                <div class="branch-address">
                    <p class="brown2 branch-name">COAPA</p>
                    <p>
                        Av. Prolongación División del Norte 4496 
                        Prado Coapa, Tlalpan, CDMX</p>
                    <p>coapa@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525535569825" target="_blank" class="brown2 mb-0">55 3556 9825</a>
                </div>
                <a href="tel:5572590035" class="brown2 mb-0 mt-1">Suc: 55 7259 0035</a>
            </div>
            <div class="branch">
                <div class="branch-address">
                    <p class="brown2 branch-name">Cafetales</p>
                    <p>
                        V. de la Armada 1405 Col. Residencial Cafetales
                        del Coyoacán, CDMX</p>
                    <p>cafetales@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525535594524" target="_blank" class="brown2 mb-0">55 3559 4524</a>
                </div>
                <a href="tel:5526520576" class="brown2 mb-0 mt-1">Suc: 55 2652 0576</a>
            </div>
            <div class="branch">
                <div class="branch-address">
                    <p class="brown2 branch-name">Ayuntamiento</p>
                    <p>
                        Ayuntamiento 87 Local D, Barrio la Lonja, Tlalpan, CDMX</p>
                    <p>ayuntamiento@elperiban.com</p>
                </div>
                <div class="wa-tel">
                    <img src="{% static 'img/whats_logo.png' %}" alt="">
                    <a href="https://wa.me/525536523050" target="_blank" class="brown2 mb-0">55 3652 3050</a>
                </div>
                <a href="tel:5571553607" class="brown2 mb-0 mt-1">Suc: 55 7155 3607</a>
            </div>
        </div>
      </div>
    </div>
{% endblock %}