{% extends "base.html" %}
{% load static %}
{% block container %}
    <div class="container-fluid principal-container p-0 d-flex justify-content-center align-items-start">
            <div class="facturacion-container">
                <div class="title-form-facturacion">
                    <h1 class="gobold yellow">Ingresa los siguientes datos </br> para tu factura</h1>
                </div>
                <div class="form-employees">
                    <form method="post" action="{% url 'employees' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-container">
                                <label for="nameInputInvoice" class="form-label">Nombre Completo</label>
                                <input type="text" name="nameInvoice" class="form-control" id="nameInputInvoice" aria-describedby="emailHelp">    
                            </div>
                            <div class="input-container">
                                <label for="branchInputInvoice" class="form-label">Sucursal</label>
                                <input type="text" name="branchInvoice" class="form-control" id="branchInputInvoice" aria-describedby="emailHelp">    
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-container">
                                <label for="phoneInputInvoice" class="form-label">Teléfono</label>
                                <input type="tel" name="phoneInvoice" class="form-control" id="phoneInputInvoice" aria-describedby="emailHelp">    
                            </div>
                            <div class="input-container">
                                <label for="emailInputInvoice" class="form-label">Email</label>
                                <input type="email" name="emailInvoice" class="form-control" id="emailInputInvoice" aria-describedby="emailHelp">    
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-container w-100">
                                <span class="form-label">Indicanos el problema con tu factura</span>
                                <textarea class="form-control" name="textInvoice" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn send-form-event">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}
